<div class="card mt-4">
    <div class="card-body">
        <h1>{{post.title}}</h1>
    <hr>
    <small>Publication Date: {{post.date}}</small>
    <br>
    <hr>
    {{post.content}}
    <hr>
    <a href="/">
        <button class="btn btn-warning mt-4 mb-4">Back</button>
    </a>
    </div>
</div>
